@rbmh-design-system:registry=https://artifactory.redbullmediahouse.com/artifactory/api/npm/rb-web-components/
//artifactory.redbullmediahouse.com/artifactory/api/npm/rb-web-components/:_password=${RBMH_ARTIFACTORY_PASSWORD}
//artifactory.redbullmediahouse.com/artifactory/api/npm/rb-web-components/:username=${RBMH_ARTIFACTORY_USERNAME}
//artifactory.redbullmediahouse.com/artifactory/api/npm/rb-web-components/:email=${RBMH_ARTIFACTORY_EMAIL}
//artifactory.redbullmediahouse.com/artifactory/api/npm/rb-web-components/:always-auth=true
